.about-h1 {
    padding:100px;
    font-size: 50px;
    color: rgb(103, 221, 132);
    text-shadow: 0 0 3px #000000;
}

.about-p {
    font-size: large;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}