.navbar-nav {
    margin-right: auto;
}

.navbar-brand {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-right: 100px;
    margin-left: 25px;
}