.product {
  display: inline-block;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  padding: .5rem;
  margin: .5rem;
  background-color: rgb(238, 238, 238);
  max-width: 250px;
}

.product img{
    max-width: 200px;
    max-height: 300px;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 5px #505050;
}

.title-container {
    display:flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.btn {
    margin: 5px;
}
.price {
}

.total {
  color: rgb(221, 134, 21);
}

@media (max-width: 768px) {
  .product {
    width: 100%;
  }
}
